<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://wianu.com/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>qII492mAKlK3l3NQRT93ckYSi7VfB/YuEweOAznp6rA=</string>
	<key>UmamiBaseURL</key>
	<string>$(UMAMI_BASE_URL)</string>
	<key>UmamiWebsiteID</key>
	<string>$(UMAMI_WEBSITE_ID)</string>
</dict>
</plist>
